doctype html
html
	head
		title Carrion Crow
		link[href="http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700"
			 rel="stylesheet"
			 type="text/css"]
		link[href="/stylesheets/main.css"
			 rel="stylesheet"
			 type="text/css"]
		link[href="/stylesheets/compose.css"
			 rel="stylesheet"
			 type="text/css"]

	body
		div id='page'
			div id='header'
				div id='header-left'
					div 
						span id='game-name'
							| Carrion Crow
						/ span id='game-handle'
						/ 	|  (
						/ 	a href="http://twitter.com/carrioncrow_" @carrioncrow_
						/ 	| )

					div id='game-slogan'
						| a Twitter word game

				div id='header-right'
					- if logged_in?
						div id='login-info'
							img[class='userpic' 
							    src="#{session_picture_uri}"]
							span class='username' @#{session_username}
						div id='logout-link'
							a href='/logout' Log out

					- else
						a href='/login'
							img src='/img/sign-in-with-twitter-gray.png'

				div id='spacer-top' &nbsp;

			div id='body'
				div id='body-floater' &nbsp;
				div id='body-center-block'
					div id='composer'
						div class='tweet-text prefix' &#x2026;
						| &nbsp;
						div class='tweet-text prefix' lorem ipsum dolor
						| &nbsp;&nbsp;
						div[class='tweet-text'
						    id='current'
						    contenteditable] (click here to edit)

					div id='compose-status'
						div id='contributors'
							| &mdash; @foo, @bar, @baz, @quux, and you
						div id='characters-left'
							| (20 characters left)

					div id='submit-button'
						| submit contribution

		script src='//code.jquery.com/jquery-2.1.1.min.js'
		script src='/js/compose.js'