
%input{:id => 'remaining', :type => 'hidden', :value => @characters_left}

%script{:type => "text/javascript",
        :src  => "jquery-1.7.2.min.js"}

%form(action='/submit' method='POST')
    %p
        = "Current word is: #{@last_word}"
    %p
        #characters_left
    %p
        The next word is
    %p
        %input(type='text' id='entry' name='word' value='poopy poopy pants')
    %p
        %input(type='submit' id='submit')

:javascript
    function calculate_remaining() {
        var remaining = $('#remaining').val() - $('#entry').val().length;
        $('#characters_left').text(remaining + " characters left!");
    };

    $('#submit').click(function() {
        if($('#entry').val().length == 0) {
            alert("C'mon gimme something to work with!");
            return false;
        } else if ($('#entry').val().match(/\s/)) {
            alert("One word limit baby!");
            return false;
        } else {
            return true;
        }
    });

    $('#entry').keypress(function() {
        calculate_remaining();
    });

    $(document).ready(calculate_remaining());