%title
    Carrion Crow: Exquisite Corpse Eats Twitter
#previous
    Previous Word
#word
    = @last_word
#form
    %form(action='/submit' method='POST')

        %label(for='name')
            Your Word
            #characters_left
        %br

        %p.name
            %input(type='text' id='name' name='word')

        %p.submit
            %input.disabled(type='submit' id='submit')

    :javascript
        function calculate_remaining() {
            var remaining = $('#remaining').val() - $('#name').val().length;
            $('#characters_left').text(remaining + " characters left!");
        };

        function disable_submit() {
            $('#submit').addClass('disabled');
        };

        function enable_submit() {
            $('#submit').removeClass('disabled');
        };

        $('#name').keypress(function() {
            if($('#name').val().match(/\s/)) {
                disable_submit();
            } else {
                enable_submit();
            }
        });

        $('#name').keypress(function() {
            calculate_remaining();
        });

        $(document).ready(function() {
            calculate_remaining();
        });