doctype html
html
	head
		title Compose | Carrion Crow
		link[href="http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700"
			 rel="stylesheet"
			 type="text/css"]
		link[href="/stylesheets/main.css"
			 rel="stylesheet"
			 type="text/css"]
		link[href="/stylesheets/landing.css"
			 rel="stylesheet"
			 type="text/css"]

	body
		div id='page'
			div id='header'
				div id='header-left'
					div 
						span id='game-name'
							| Carrion Crow
						/ span id='game-handle'
						/ 	|  (
						/ 	a href="http://twitter.com/carrioncrow_" @carrioncrow_
						/ 	| )

					div id='game-slogan'
						| a Twitter word game

				div id='header-right'
					- if logged_in?
						div id='login-info'
							img[class='userpic' 
							    src="#{session_picture_uri}"]
							span class='username' @#{session_username}
						div id='logout-link'
							a href='/logout' Log out

					- else
						a href='/login'
							img src='/img/sign-in-with-twitter-gray.png'

			div id='body'
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec laoreet ante. Nunc aliquam nunc non nulla fermentum ullamcorper. Nunc posuere facilisis auctor. Proin erat nibh, egestas eget nunc id, iaculis placerat diam. Duis pulvinar bibendum elit et convallis. Proin non risus vestibulum massa euismod eleifend. Vestibulum volutpat lectus eget congue laoreet. Nullam sed pharetra libero. Proin dolor tellus, lobortis eu vehicula et, volutpat ut arcu. Proin varius condimentum faucibus.
				p
				| Sed a est lorem. Ut et augue eu eros tincidunt tincidunt nec sed sem. Suspendisse potenti. Phasellus laoreet pretium orci, ut lobortis risus pellentesque vel. Suspendisse id commodo orci. Cras placerat ullamcorper ipsum sit amet euismod. In hac habitasse platea dictumst. Nunc sapien risus, feugiat non urna a, aliquam interdum massa.
				p
				| Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer bibendum orci diam, blandit blandit nunc vehicula dictum. Praesent mauris nisl, convallis et cursus ut, sodales et sem. Integer vehicula vestibulum nisi quis mollis. Sed mollis sem tellus, et posuere ipsum viverra vel. Sed luctus tempor ligula et cursus. Suspendisse sit amet tincidunt ante. Aliquam id erat semper, dapibus magna a, congue enim. Phasellus condimentum sed elit et viverra. Pellentesque egestas massa libero, blandit eleifend eros tincidunt quis. Mauris nec dui id mi blandit luctus et vel velit. Aliquam eu hendrerit urna, non cursus magna. Suspendisse cursus nisi nunc, sed scelerisque metus rhoncus vestibulum. Proin sit amet neque sed ligula placerat mattis.