#you_wrote
    You wrote:

#your_word
    = @your_word

#thanks
    Thanks for making Twitter full of nonsense!

:javascript
    function backtosubmit() {
        window.location = "http://192.168.2.29:4567/submit"
    };

    $(document).ready(function() {
        setTimeout('backtosubmit()', 1000)
    });