$dark-bgcolor: #444;
$light-bgcolor: #ddd;
$dark-fgcolor: #ddd;
$light-fgcolor: #444;

.dark {
	background-color: $dark-bgcolor;
	color: $dark-fgcolor;
}

.light {
	background-color: $light-bgcolor;
	color: $light-fgcolor;
}