@import 'colors';

body {
	@extend .dark;
	margin: 0;
	min-height: 100vh;
}

#header {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 40px;
}

#game-name {
	font-weight: bold;
	font-size: 36px;
}

#game-slogan {
	font-style: italic;
	font-size: 24px;
}

#game-handle {
	font-style: italic;
	font-size: 18px;
}

#header-left {
	float: left;
	width: 60%;
	vertical-align: middle;
}

#header-right {
	padding-top: 20px;
	float: right;
	text-align: right;
	width: 35%;
	vertical-align: middle;
}

#spacer-top {
	clear: both;
	height: 40px;
}

#page {
	height: 100vh;
}

#body {
	@extend .light;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
}

.tweet-text {
	display: inline-block;
	font-style: italic;
	font-size: 32px;
}

.prefix {
	opacity: 0.5;
}

#current {
	min-width: 20px;
}

#compose-status {
	padding-top: 10px;
	padding-right: 20%;
	text-align: right;
}

#body-floater {
	float: left;
	height: 45%;
}

#body-center-block {
	position: relative;
	clear: left;
	text-align: center;
}

#submit-button {
	font-weight: bold;
	font-size: 32px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid $light-fgcolor;
	border-radius: 10px;
}