@import 'colors';

* {
	@extend .dark;
}

#page {
	padding-left: 10%;
	padding-right: 10%;
}

#header {
	padding-top: 40px;
}

#game-name {
	font-weight: bold;
	font-size: 36px;
}

#game-slogan {
	font-style: italic;
	font-size: 24px;
}

#game-handle {
	font-style: italic;
	font-size: 18px;
}

#header-left {
	float: left;
	width: 60%;
	vertical-align: middle;
}

#header-right {
	padding-top: 20px;
	float: right;
	text-align: right;
	width: 35%;
	vertical-align: middle;
}

#body {
	padding-top: 80px;
	clear: both;
}