@import 'colors';

* {
	font-family: 'Libre Baskerville', serif;
}

.userpic {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.username {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}